<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="csrf-token" content={get_csrf_token()} />
    <.live_title suffix=" · Phoenix Framework">
      <%= assigns[:page_title] || "WarbandTracker" %>
    </.live_title>
    <link phx-track-static rel="stylesheet" href={~p"/assets/app.css"} />
    <script defer phx-track-static type="text/javascript" src={~p"/assets/app.js"}>
    </script>
  </head>
  <body class="bg-gray-50 text-gray-800 antialiased">
    <header class="md:mt-4 px-4 sm:px-6 lg:px-8">
      <h1 class="font-bold text-2xl w-full text-center"><a href="/">Mordheim Helper</a></h1>
      <nav class="flex justify-center">
        <%= if @current_user do %>
          <ul class="flex gap-4">
            <li>
              <.link href={~p"/warbands"}>Warbands</.link>
            </li>
            <li>
              <.link href={~p"/"}>Tables</.link>
            </li>
            <li>
              Logged in as <span class="italic"><%= @current_user.email %></span>
            </li>
            <li>
              <.link href={~p"/users/settings"}>Settings</.link>
            </li>
            <li>
              <.link href={~p"/users/log_out"} method="delete">Log out</.link>
            </li>
          </ul>
        <% else %>
          <ul class="flex gap-4">
            <li>
              <.link href={~p"/users/register"}>Register</.link>
            </li>
            <li>
              <.link href={~p"/users/log_in"}>Log in</.link>
            </li>
          </ul>
        <% end %>
      </nav>
    </header>
    <div class="mx-auto my-4 max-w-7xl">
      <%= @inner_content %>
    </div>
  </body>
</html>
